last.tab=H:/GitHub/ArrowWorkspace/openglasm/opengl64.asm
workspace.location=H:/GitHub/ArrowWorkspace
window.x=342
window.y=427
window.fullscreen=false
window.maximized=false
jdk.location=
last.tabs=H:/GitHub/ArrowWorkspace/openglasm/opengl64.asm 3140 3140 1938;
assembly.compiler=MASM
window.custom=false
window.width=802
monitor.height=1024
dosbox.location=H:/dosbox/DOSBox-0.74/DOSBox.exe
monitor.width=1280
window.height=448
workspace.location.relative=H:/GitHub/ArrowWorkspace