last.tab=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowWorkspace/src/Test.java
workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowWorkspace
window.x=142
window.y=74
window.fullscreen=false
dialog.location=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowIDE/src/net/foxycorndog/arrowide/command/
window.maximized=false
g++.location=C:/MinGW/bin
jdk.location=C:/Program Files/Java/jdk1.7.0_03
last.tabs=C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowIDE/src/net/foxycorndog/arrowide/ArrowIDE.java 213 213 0;C:/Users/Braden Steffaniak/Documents/GitHub/ArrowWorkspace/src/Test.java 196 196 0;C:/Users/Braden Steffaniak/Documents/GitHub/Workspace/ArrowIDE/src/net/foxycorndog/arrowide/command/Command.java 0 0 0;
assembly.compiler=MASM
window.custom=true
window.width=1467
monitor.height=1080
python.location=C:/Python/v33
dosbox.location=C:/Program Files (x86)/DOSBox-0.74/DOSBox.exe
monitor.width=1920
window.height=715
workspace.location.relative=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowWorkspace