last.tab=
workspace.location=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowWorkspace
window.x=164
window.y=111
window.fullscreen=false
dialog.location=C:/Users/Braden Steffaniak/Documents/GitHub/APCSTetris/Tetris/src/net/foxycorndog/tetris/
window.maximized=false
g++.location=C:/MinGW/bin
jdk.location=C:/Program Files (x86)/Java/jdk1.6.0_16
last.tabs=
assembly.compiler=MASM
window.custom=true
window.width=1467
monitor.height=1080
python.location=C:/Python/v33
dosbox.location=C:/Program Files (x86)/DOSBox-0.74/DOSBox.exe
monitor.width=1920
window.height=715
workspace.location.relative=C:/Users/Braden Steffaniak/Documents/GitHub/ArrowWorkspace